<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
		<aspNetCore processPath="dotnet" arguments=".\University.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
			</environmentVariables>
		</aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 2A7B2FA2-7DA6-47B6-9D22-D2066934BBCB-->